.spacing {
  margin: 14px;
  padding: 22px;
}

*{
  font-family: Helvetica, sans-serif;
  text-align: center;
}

nav a {
  text-decoration: none; /* Removes underline */
  padding: 5 15px; /* Adds horizontal spacing */
  color: black;
  font-size: 1.7em;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease; 
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
}
